.DS_Store
.mimocode
*.moved-aside
*.xccheckout
*.xcscmblueprint
*.xcuserstate
build/
DerivedData*/
screenshots/
xcuserdata/

# Build artifacts (fastlane)
*.ipa
*.dSYM.zip
*.log
fastlane/report.xml
fastlane/README.md
